$loader-color: rgba(0, 0, 0, 0.5) !default;
$loader-color-static: rgba(0, 0, 0, 0.1) !default;
$loader-size: 2px !default;
$loader-height: 12px !default;
$loader-border-size: 2px !default;
$loader-gap: 3px !default;
$loader-animation-duration: 1s !default;
$loader-align: middle !default;
